{% paginate collection.products by 48 %}


<div id="collection-description" class="desktop-12 mobile-3">
  {{ collection.description }}  
</div>

<div class="clear"></div>  

<a class="show mobile-3" href="#"><i class="icon-align-justify icon-2x"></i></a>

<div class="desktop-3 tablet-6 mobile-3" id="sidebar">
  <h1>{% if collection.handle == 'all' %}All {% endif %}{{ collection.title }}</h1>
  <ul>

      {% if settings.collection-linklist-1-title ==  blank %}
      <h4>{{ 'collections.sidebar.linklist_1_title' | t }}</h4>
      {% else %}
      <h4>{{ settings.collection-linklist-1-title }}</h4>
      {% endif %}        
        
    
    {% for link in linklists[settings.collection-side-1].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  
  {% if settings.collection-links-2 %}
  <ul>
    
      {% if settings.collection-linklist-2-title ==  blank %}
      <h4>{{ 'collections.sidebar.linklist_2_title' | t }}</h4>
      {% else %}
      <h4>{{ settings.collection-linklist-2-title }}</h4>
      {% endif %}    
    
    
    {% for link in linklists[settings.collection-side-2].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if settings.collection-links-3 %}
  <ul>
    
      {% if settings.collection-linklist-3-title ==  blank %}
      <h4>{{ 'collections.sidebar.linklist_3_title' | t }}</h4>
      {% else %}
      <h4>{{ settings.collection-linklist-3-title }}</h4>
      {% endif %}     
    
    
    {% for link in linklists[settings.collection-side-3].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if settings.collection-links-4 %}
  <ul>
    
      {% if settings.collection-linklist-4-title ==  blank %}
      <h4>{{ 'collections.sidebar.linklist_4_title' | t }}</h4>
      {% else %}
      <h4>{{ settings.collection-linklist-4-title }}</h4>
      {% endif %}     
    
    {% for link in linklists[settings.collection-side-4].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  
  <!-- Start Filtering -->
  {% if settings.filters %}	
  <div id="side-filter">
    {% include 'dropdown-filter' %}
  </div>
  {% endif %}
  
  {% if settings.shop-by-designer %}
  {% if collection.handle == "all" %}
  <ul>
    
      {% if settings.shop-by-designer-title ==  blank %}
      <h4>{{ 'collections.sidebar.designers' | t }}</h4>
      {% else %}
      <h4>{{ settings.shop-by-designer-title }}</h4>
      {% endif %}         
    
    {% for product_vendor in shop.vendors %}
    <li>{{ product_vendor | link_to_vendor  }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <ul>
    
      {% if settings.shop-by-designer-title ==  blank %}
      <h4>{{ 'collections.sidebar.designers' | t }}</h4>
      {% else %}
      <h4>{{ settings.shop-by-designer-title }}</h4>
      {% endif %}  
    
    {% for product_vendor in collection.all_vendors %}
    <li class="{{ product_vendor | handelize }}">{{ product_vendor | link_to_vendor }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}  
  
</div>

<div class="desktop-9 tablet-6 mobile-3" id="four-columns">
  <div id="product-loop">
    
    {% for product in collection.products %}
    
    <div class="product-index desktop-4 mobile-3{% cycle ' first', '', ' last' %}" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">  
      
      {% include 'product-listing' %}

      
    </div>
    
    {% endfor %} 
    
  </div>
</div>



{% include 'pagination' %}

{% endpaginate %}


