<div id="about-roma-boots">
  
  <div class="row">
  	<div class="desktop-12 tablet-6 mobile-3">
  		<div class="section-title lines desktop-12"><h2>{{ page.title }}</h2></div>
    </div>
    </div>
  
	<div class="header">
		<img src="{{ 'gallery10.jpg' | asset_url }}">
	</div>
  
    <ul class="circles-container">
      <li class="circle">ROMA</li>
      <li class="arrow">&#8594;</li>
      <li class="circle">AMOR</li>
      <li class="arrow green">&#8594;</li>
      <li class="circle green">LOVE</li>
    </ul>
  
  <div class="special"><span>&laquo;</span>&nbsp; ROMA means LOVE! &nbsp;<span>&raquo;</span></div>

  
  <div class="content row">
    <div class="desktop-12 mobile-3">
  		{{ page.content }}
    </div>
  </div>
  
  
  <div class="boots-donated">
    <div class="circle boots">
      <h1>Boots Donated</h1>
      <h1 class="green number">20,000</h1>
      <h1>pairs</h1>
    </div>
    <div class="circle where">
      <h1 class="where">Where?</h1>
      <h1 class="green four">FOUR</h1>
      <h1 class="continents">continents</h1>
    </div>	
  </div>
  
  
  <div class="world-map">
    <div class="map">
    	<img src="{{ 'map.png' | asset_url }}" />
    </div>
    <div class="content row">
      <div class="desktop-12 tablet-12 mobile-3">
        <div class="line"></div>
        <div class="desktop-6 tablet-3 mobile-3">
          <h1>Asia</h1>
          <p>Nepal, Philippines, China, Mongolia, India, Armenia, Turkey</p>
          <h1>Europe</h1>
          <p>Romania, Moldova, Ukraine, Bulgaria</p>
          <h1>Australia</h1>
          <p>Vanuatu</p>
        </div>
        <div class="desktop-6 tablet-3 mobile-3">
          <h1>Americas</h1>
          <p style="">Guatemala, Colombia, United States, Honduras, El Salvador, Nicaragua, Haiti</p>
          <h1>Africa</h1>
          <p>Kenya, Ghana, Nigeria, Ethiopia, Tanzania</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="education row">
  	<div class="desktop-12 tablet-12 mobile-3">
      <h1></h1>
      <p></p>
      <h1></h1>
      <div class="circles">
      	<div class="circle animation">World<br />Vision</div>
      	<div class="circle animation">Global Aid<br />Network</div>
      	<div class="circle animation">Linking<br />the World</div>
      	<div class="circle animation">Red<br />Cross</div>
        <div class="circle animation">Buckner<br />International</div>
      </div>
      
    </div>
  </div>
  
  
  <div class="row">
      <div id="footer-videos" class="desktop-12 mobile-3">
        <div class="section-title lines desktop-12"><h2>Watch our story</h2></div>
        <div class="desktop-4 mobile-3">
          {% comment %}<h1>{{ settings.footer-title-one }}</h1>{% endcomment %}
          {{ settings.footer-video-one }}
        </div>        
        <div class="desktop-4 mobile-3">
          {% comment %}<h1>{{ settings.footer-title-two }}</h1>{% endcomment %}
          {{ settings.footer-video-two }}
        </div>        
        <div class="desktop-4 mobile-3">
          {% comment %}<h1>{{ settings.footer-title-three }}</h1>{% endcomment %}
          {{ settings.footer-video-three }}
        </div>        
      </div> 
  </div>
    
    
  </div>
  
  
</div>