<div id="boot-drops">

	<div class="row">
      <div class="desktop-12 tablet-6 mobile-3">
          <div class="section-title lines desktop-12"><h2>{{ page.title }}</h2></div>
      </div>
    </div>
  
	<div class="header">
      <div class="row">
          <div class="mobile-3 tablet-5 desktop-6 center fn">
            <h1>With your help</h1>
            <div>
              <p>we have been able to donate thousands of Roma Boots</p><p>over the last five years in 25 countries on five continents.</p>
            </div>
            <div class="special"><span>&laquo;</span>&nbsp; Thank you for making this possible! &nbsp;<span>&raquo;</span></div>
          </div>
        </div>
    </div> 
  
   <div class="video">
    <div class="row">
          <iframe class="mobile-3 tablet-5 desktop-8 center fn" src="https://www.youtube.com/embed/SOFGC-pIaDE?autoplay=0&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="world-map">
    <div class="map">
    	<img src="{{ 'map.png' | asset_url }}" />
    </div>
    <div class="content row">
      <div class="desktop-12 tablet-12 mobile-3">
        <div class="line"></div>
        <div class="desktop-6 tablet-3 mobile-3">
          <h1>Asia</h1>
          <p>nepal, philippines, china, armenia, iraq, jordan</p>
          <h1>Europe</h1>
          <p>romania, moldova</p>
        </div>
        <div class="desktop-6 tablet-3 mobile-3">
          <h1>Americas</h1>
          <p>guatemala, colombia, united states, el salvador, nicaragua, honduras, haiti, mexico</p>
          <h1>Africa</h1>
          <p>kenya, tanzania, ethiopia, nigeria, ghana, uganda</p>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row gallery">
  
    <div class="section-title lines desktop-12"><h2>Romania</h2></div>
  
    <div class="desktop-12 mobile-3">
      <div class="customNavigation">
        <a class="btn prev1"><i class="icon-chevron-left"></i></a>
        <a class="btn next1"><i class="icon-chevron-right"></i></a>
      </div>    
      <div class="img-carousel-drop1">
        <div class="img-car"><a href="{{ 'romania-1.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-1.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-2.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-2.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-3.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-3.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-4.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-4.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-5.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-5.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-6.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-6.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-7.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-7.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-8.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-8.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'romania-9.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'romania-9.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
      </div>      
    </div>
  
    <div class="clear"></div>
    
  </div>
  
  
  <div class="row gallery">
  
    <div class="section-title lines desktop-12"><h2>Guatemala</h2></div>
  
    <div class="desktop-12 mobile-3">
      <div class="customNavigation">
        <a class="btn prev2"><i class="icon-chevron-left"></i></a>
        <a class="btn next2"><i class="icon-chevron-right"></i></a>
      </div>    
      <div class="img-carousel-drop2">
        <div class="img-car"><a href="{{ 'guatemala-1.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-1.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-2.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-2.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-3.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-3.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-4.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-4.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-5.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-5.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-6.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-6.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-7.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-7.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'guatemala-8.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'guatemala-8.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
      </div>      
    </div>
  
    <div class="clear"></div>
    
  </div>
  
  
  
  <div class="row gallery">
  
    <div class="section-title lines desktop-12"><h2>Moldova</h2></div>
  
    <div class="desktop-12 mobile-3">
      <div class="customNavigation">
        <a class="btn prev3"><i class="icon-chevron-left"></i></a>
        <a class="btn next3"><i class="icon-chevron-right"></i></a>
      </div>    
      <div class="img-carousel-drop3">
        <div class="img-car"><a href="{{ 'moldova-1.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-1.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-2.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-2.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-3.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-3.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-4.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-4.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-5.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-5.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-6.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-6.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-7.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-7.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-8.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-8.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-9.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-9.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-10.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-10.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-11.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-11.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-12.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-12.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-13.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-13.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-14.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-14.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-15.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-15.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-16.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-16.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-17.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-17.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-18.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-18.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-19.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-19.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
        <div class="img-car"><a href="{{ 'moldova-20.jpg' | asset_url }}" rel="founder" class="fancybox"><img src="{{ 'moldova-20.jpg' | asset_url }}"><div class="magnify animation"></div></a></div>
      </div>      
    </div>
  
    <div class="clear"></div>
    
  </div>
  
  
  <div><a href="http://www.flickr.com/photos/romaboots/" target="_blank"><div class="learn-more animation">CLICK HERE FOR MORE PICTURES</div></a></div>
  
  
</div>